<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>nutrition</title>
    <style>

    </style>
</head>
<body style="background-color: #100205; color: white;">
<form class="form-horizontal" action="/predict" method="POST" enctype="multipart/form-data">

    <h1 align="center" style="color: red;">Fruit Nutrition Facts</h1>

   <div style="font-family: "> <p>Fruit is a fabulous food. It’s nutrient-rich, it’s convenient, and it can be relatively inexpensive. Fresh fruit is portable, and if it is whole, it usually requires no refrigeration. Most fruit is naturally low in fat, sodium, and calories and a source of many essential nutrients such as potassium, vitamins A and C, folate, and dietary fiber. The United States Department of Agriculture (USDA) recommends adults consume a minimum of 2–4 servings of fruit per day, mostly whole fruit.</p>

<p>Eating fruit not only provides nutrients vital for health and maintenance of your body. Research suggests fruit may help reduce the risk of diabetes, obesity, stroke, heart disease, and cancer. Diets rich in foods containing fiber (like most fruits) may reduce the risk of heart disease, obesity, and Type 2 diabetes, and eating fruits rich in potassium may lower blood pressure. Research also shows that because fruits are lower in calories per cup than other foods, they may be useful in helping to lower total calorie intake.</p>
<p>The main source of calories in fruit is from carbohydrate. Carbohydrate and calorie content in fruit will vary according to serving size and type of fruit. A typical serving of fruit is one small to medium-sized fresh fruit, 1/2 cup of canned, or 1/4 cup of dried fruit. Each fruit serving has about 15 grams of carbohydrate and 60 calories. The calories and carbohydrate from fruit can add up quickly.</p>
<p>However, some fruits are naturally lower in calories and carbohydrate than the typical fruit. For example, one cup of fresh rhubarb contains 26 calories and 6 grams of carbohydrate. In contrast, one cup of grapes contains 110 calories and 29 grams of carbohydrate.</p>
<p>Fresh fruit is a good source of dietary fiber. The fiber content of fruits varies, with certain berries such as blackberries and raspberries containing 8 grams of fiber per one cup serving. Other fruits such as grapes, grapefruit, and cantaloupe contain only 1 to 2 grams of fiber per serving. The edible peels of fruits such as apples, pears, and peaches provide a good source of insoluble fiber, the dietary fiber that can help prevent constipation. Many fruits such as apples and oranges contain soluble fiber, which has shown to lower blood cholesterol levels.</p>
<p>Fruits are naturally low in fat and protein, with most containing less than one gram per serving. However, when fruits are made into desserts such as blueberry pie or strawberry ice cream, the dish may no longer be low in fat. To keep your fat intake low, carefully select and prepare foods containing fruit. For example, serve frozen blueberries or strawberries (no-sugar-added) on frozen yogurt or angel food cake.</p>
<p>All fruit is good fruit, but some fruits are higher in vitamins and minerals than others. Antioxidant vitamins such as vitamin A, beta-carotene, and vitamin C may help prevent cancer and the effects of aging by neutralizing free radicals, unstable oxygen molecules that can damage cells.

For adequate intake of essential vitamins, include at least one vitamin-A-rich fruit (guava, watermelon, grapefruit, papaya, cantaloupe, apricots, dried peaches, tangerines, persimmon, and mango) and at least one vitamin-C-rich fruit (pineapple, plums, blueberries, honeydew melon, mango, tangerine, raspberries, grapefruit, blackberries, apricots, strawberries, oranges, kiwifruit, and watermelon) every day.

Fruits are also good sources of potassium, a mineral that may help prevent high blood pressure and that is vital for people who are taking the kind of diuretics that increase potassium losses. Potassium-rich fruits include kiwifruit, papaya, cantaloupe, apricots, peaches, honeydew melon, bananas, and pomegranate.

To derive the best nutritional value from fruit, make most of your fruit choices whole or cut-up fruit rather than juice. To help you eat more fruit, keep a bowl of whole fruit on the counter or in the refrigerator. Buy fresh fruits in season when they may be less expensive and at their peak flavor. Some fruits, like bananas and most frozen fruit, are affordable year round.</p></div>
               <div>

                 <table align="center">
                     <tr><th>PREDICTION</th></tr>
                     <tr>        </tr>
                     <tr><td><input type="file" name="img" style="color: #33C7B7;" >
                   <input type="submit"  value="Predict" style="color: #33C7B7;"></td></tr> </table></div>
            </form>
</body>
</html>